@font-face {
	font-family: BetterVCR;
	font-display: swap;
	src: url("../fonts/BetterVCR-Regular.woff2") format("woff2"), url("../fonts/BetterVCR-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AnonymousPro;
	font-display: swap;
	src: url("../fonts/AnonymousPro-Regular.woff2") format("woff2"), url("../fonts/AnonymousPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SairaCondensed;
	font-display: swap;
	src: url("../fonts/SairaCondensed-Regular.woff2") format("woff2"), url("../fonts/SairaCondensed-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SairaCondensed;
	font-display: swap;
	src: url("../fonts/SairaCondensed-SemiBold.woff2") format("woff2"), url("../fonts/SairaCondensed-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: SairaCondensed;
	font-display: swap;
	src: url("../fonts/SairaCondensed-Light.woff2") format("woff2"), url("../fonts/SairaCondensed-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
